spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kehu?serverTimezone=UTC&characterEncoding=utf-8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8181

